.lastProduct-section-title {
  font-weight: lighter;
  margin-bottom: 1.3rem;
  color: #fff;

}

#last-product {
  width: 90%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  background-color: rgba(236, 202, 202, 0.822);
  box-shadow: 0px 0px 5px #c710109d;
}

.last-product-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
}

.lastProduct-image-container {
  width: 130px;
  height: 130px;
}

.lastProduct-image-container img {
  width: 100%;
  border-radius: 10px;
}

.lastProduct-main-info {
  text-align: left;
}

.lastProduct-description {
  flex-basis: 25%;
  margin-right: 4rem;
}

.lastProduct-description p {
  font-size: 0.7rem;
  text-align: left;
  font-weight: 300;
}

.lastProduct-price {
  font-weight: 300;
}
